.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3px;
}

.bar {
    display: flex;
    gap: 4px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tab {
    border: solid 1px;
    min-width: 4rem;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: var(--colorNeutralBackground2Pressed);
    cursor: pointer;
}

.viewer {
    height: 100%;
    width: 97%;
    padding: 0.5rem;
    border-radius: var(--borderRadiusMedium);
    border: solid 1px;
    border-color: var(--colorNeutralBackground2Pressed);
    background: var(--colorNeutralBackground3);
    color: var(--colorNeutralForeground2);
}

.dismiss {
    color: black;
}
