.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 20rem;
    max-width: 28rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 96vh;
    overflow: auto;
    border-radius: var(--borderRadiusMedium);
    margin: 0.5rem;
    border: solid 1px;
    border-color: var(--colorNeutralBackground2Pressed);
    background: var(--colorNeutralBackground3);
    color: var(--colorNeutralForeground2);
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-top: 0.6rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 98vh;
    overflow: hidden;
}

.details {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.search {
    width: 100%;
    height: 33%;
    overflow: hidden;
}

.fui-Searchbox:focus-within:active::after {
  border-bottom-color: var(--colorNeutralForeground1Static);
}
